body, html 
{
  height: 100%;
  margin: 0;
}

.coverImage
{
  background-image: url("resources/pier_sunset_logo.jpg");
  height: 60%;

  /* Center and scale the image */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}