/*
  Styling overarching HTML elements
*/
body
{
  background-color: #000a17;
  padding-bottom: 5%;
}

html, body
{
    max-width: 100%;
    overflow-x: hidden;
}

textarea, input
{
  width: 250px;
}

input[type="radio"]
{
  width: auto;
}

textarea
{
  height: 45px;
}

legend
{
  color: #F6F6FF;
  width: 30%;
}

/*
  For mobile screens
*/
@media only screen and (max-width: 479px)
{
  input, textarea
  {
    width: 180px;
  }
}

/*
  Styling based on class
*/
.introductoryParagraph
{
  color: #F6F6FF;
  margin-left: 5%;
  margin-right: 5%;
  font-size: 20px;
  text-align: justify;
}

.contactLabel
{
  color: #9fbfdf;
}

.aboutUsParagraph
{
  margin-left: 40px;
}

.boldText
{
  color: #9fbfdf;
}

.col-sm-6
{
  padding: 1%;
}

.col-sm-4
{
  padding: 1%;
  text-align: left;
}

.sendEmailButton
{
  color: #7AD7F0;
  background-color: black;
  border-radius: 10%;
  border-color: blue;
}

/*
  Styling based on ID
*/

#membershipsDiv
{
  margin: auto;
  width: 50%;
}

#membershipsDiv .col-sm-4
{
  padding: 1%;
  text-align: center;
}

#headerImageContainer
{
  position: relative;
  display: block;
}

#myNavbar
{
  background-color: #000a17;
  font-size: 20px;
  margin-top: 2%;
}

#myNavbarUL > li
{
  padding-right: 10px;
  padding-left: 15px;
}

#myNavbarUL > li:hover
{
  background-color: #9fbfdf;
}

#myNavbarUL > li.active a
{
  background-color: #9fbfdf;
}

#skillContainer
{
  font-size: 35px;
  color: #9fbfdf;
}

#serviceContainer
{
  font-size: 19px;
  color: #9fbfdf;
}

#contactFooterDiv
{
  float: right;
  padding-right: 5%;
  transform: scale(0.95) translateY(-10px);
}

#contactList
{
  float: left;
}

#leftHalfOfContactForm
{
  float: left;
  width: 45%;
}

#rightHalfOfContactForm
{
  float: right;
  width: 45%;
}

#footerUL
{
  list-style-type: none;
  color: #9fbfdf;
  font-size: 16px;
}

#sendMeAMessage
{
  color: #7AD7F0;
  font-size: 17px;
  font-weight: bold;
}

#depositionScheduler
{
  margin-left: 5%;
}
